body {
    margin: 0;
    padding: 0;
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-header {
    background-color: #1890ff;
    padding: 0 1rem;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-header h1 {
    margin: 0;
    font-size: 1.5rem;
    white-space: nowrap;
}

.app-header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 100px;
}

.app-header nav li {
    margin-left: 1.5rem;
}

.app-header nav a {
    color: white;
    text-decoration: none;
}

.app-header nav a:hover {
    text-decoration: underline;
}

.app-content {
    flex: 1;
    padding: 1rem;
    margin-top: 100px; /* Đảm bảo nội dung không bị che bởi header cố định */
    overflow-y: auto;
}

.app-footer {
    background-color: #1890ff;
    color: white;
    padding: 1rem;
    text-align: center;
    z-index: 1000;
}
